@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #7567ad;
  background-image: radial-gradient(at 0% 0%, rgb(88, 80, 132) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(91, 120, 206) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(184, 69, 109) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #7567ad;
  background-image: radial-gradient(at 50% 50%, hsla(225, 54%, 58%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #7567ad;
  /* background-image: radial-gradient(at 50% 50%, rgb(88, 80, 132) 0, transparent 50%); */
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 55%),
    radial-gradient(at 100% 60%, rgb(126, 122, 122) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glassmorphism {
  background: rgba(107, 122, 171, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.black-glassmorphism {
  background: rgba(57, 57, 58, 0.4);
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
